:root {
    --color-primary: #413E3E;
    --color-secondary: #4D67B9;
    --color-tertiary: #FBC915;
}

/* Estilos globales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.2em;
}

section {
}

/* Estilos específicos para secciones */
.about-section {
    width: 100vw;
    background-color: var(--color-primary);
}
/* Estilos para proyectos */
.project {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: white;
}
.project .tech {
    display: flex;
    align-items: center;
    gap: 10px;
}
.project .tech span {
    font-size: 12px;
    font-weight: 800;
}
.project .tech p {
    font-size: 12px;
    font-weight: 800;
    padding: 2px 4px;
    background-color: var(--color-secondary);
    color: white;
}
/* Estilos para títulos */
h2, h3 {
    color: var(--color-tertiary);
}

/* Estilos para enlaces */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles for nav*/
.navbar-container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 25px 45px;
}

.navbar-container h1 {
    color: white;
    margin: 0;
}

.navbar-container .content {
    display: flex;
    gap: 15px;
    align-items: center;
    color: white;
}
.navbar-container .content  a{
    color: white;
    text-decoration: none;
    font-weight: 800;
    transition: all 200ms;
}

.navbar-container .content  a:hover{
    color: var(--color-secondary);
}

.about-container {
    padding: 70px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    border-radius: 0;
    margin: 0 auto;
    max-width: 1100px;
}
.about-container .content {
    max-width: 400px;
    line-height: 24px;
}
.about-container .content h1 {
    margin: 0;
}
.about-container .content p{
    font-weight: 700;
}
.about-container img {
    margin-right: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
}
.contact .container .information {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
}